
@media screen and (max-width: 600px) {
  
    .title-container h1{
        font-size: 25px;
    }
    input[type="text"] {
        width: 90%;
    }

}

@media screen and (max-width: 760px) {
    input[type="text"] {
        font-size: 13px;
    }
}


@media screen and (max-width: 900px) {

}
